<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1 class="margin-bottom"><%= title %></h1>
    <div id="app-container" data-param1="hello world!!!"></div>
    <script src="/js/commons.js"></script>
    <script src="/js/boilerplate.bundle.js"></script>
  </body>
</html>
